# React Native
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
.expo-shared/

# Logs
*.log
*.tmp
*.temp

# Build output
/dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env

# Android
*.apk
*.aab
*.keystore

# iOS
*.xcuserstate
*.xcuserdata/
*.xcscheme
*.xcmappingstyle
*.xcworkspace
*.pbxuser
*.pbxproj

# Metro Bundler
.cache/
.metro/
